.section {

  &-title {
    font: 700 48px/59px 'Montserrat';
    text-transform: uppercase;
    color: #5c25c5;
    padding-bottom: 40px;
  }

  &-purple {
    background-image: url("/background/purple.png");
    background-size: 100% 100%;
    padding: 100px 0 150px;
  }

  &-green{
    background-image: url("/background/green.png");
    background-size: 100% 100%;
    padding: 366px 0 239px;
    position: relative;
    z-index: 2;
  }

  &-blue{
    background-image: url("/background/blue.png");
    background-size: 100% 100%;
    padding: 110px 0 279px;
    position: relative;
    margin-top: -110px;
  }

  &-educational{
    padding: 0 0 30px;
  }

  &-container {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
  }

  &-articles {
    padding: 50px 0 60px
  }
  &-desc{
    font: 400 17px/21px 'Montserrat';
    color: #1F074D;
    padding-bottom: 20px;
  }
  &-adults{
    padding: 90px 0 0;
  }
}